<div #staff [dragula]='"first-bag"' [dragulaModel]="list">
  <app-drag-box [textVal]="text" *ngFor="let text of list"></app-drag-box>
</div>
<div #participants [dragula]='"second-bag"' [dragulaModel]="parts">
  <app-drag-box [textVal]="text" *ngFor="let text of parts"></app-drag-box>
</div>