<app-room #entry class="room" *ngFor="let container of containerList" [list]="container.list" [parts]="container.parts"></app-room>

<button (click)="checkIt()">Click to view data model</button>
<style>
  .room {
    border: 3px solid black;
    height: 200px;
    width: 200px;
  }
</style>